{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <!-- bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <title>Pictures</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p>Test</p>
</nav>
<div class="container-fluid">
    <div class="row">
        {% for foo in dic %}
            <div class="col-12 col-xxl-2 col-xl-3 col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" loading="lazy" src="{{ foo.pic_cover }}" style="max-height:800px;object-fit:cover" alt="Loading">
                    <form action="../content/" method="post" class="d-grid">
                        <div>
                            <label for="path" style="display:none"></label>
                            <input name="path" id="path" value="{{ foo.pic_path }}" style="display:none">
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block" style="font-size:10px">{{ foo.pic_title }}</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    let imgs=[];
    let i = 0;
    const swidth = screen.width;
    let maxh = 0;
    imgs = document.getElementsByTagName("img");
    if (swidth<992){
        maxh = Math.ceil(swidth/2*1.3);
        console.log(maxh+'px');
        for(i=0;i<imgs.length;i++){
        imgs[i].style['max-height']=maxh+'px';
    }
    }
</script>
</body>
</html>