<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Background</title>
</head>
<body>
<div style="position: absolute;top: 50%;left: 0;width: 100%;text-align: center;margin: -5.5vw 0 0 0;z-index: 100;font-size: 20px;text-align: center;color: #fff;font-family: 'Microsoft Yahei';">js代码(www.jsdaima.com)是IT资源下载与IT技能学习平台。<br />Powered by <a style="color:red;text-decoration: none;font-family: 'Microsoft Yahei';" href="http://www.jsdaima.com/" target="_blank">www.jsdaima.com</a><br/><span style="font-size: 14px;">* 本段文字信息可自行修改或删除 *</span></div>
<!--结束-->

<div class="stars"></div>
<script>
    $(document).ready(function(){
        var stars=800;
        var $stars=$(".stars");
        var r=800;
        for(var i=0;i<stars;i++){
            var $star=$("<div/>").addClass("star");
            $stars.append($star);
        }
        $(".star").each(function(){
            var cur=$(this);
            var s=0.2+(Math.random()*1);
            var curR=r+(Math.random()*300);
            cur.css({
                transformOrigin:"0 0 "+curR+"px",
                transform:" translate3d(0,0,-"+curR+"px) rotateY("+(Math.random()*360)+"deg) rotateX("+(Math.random()*-50)+"deg) scale("+s+","+s+")"

            })
        })
    })</script>
</body>
</html>